:root {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    height: 100vh;
}

.App {
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/red-beach.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.home-main {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hero-title {
    font-size: 4rem;
    background-color: rgb(0, 0, 0, .5);
    padding: 1.75rem 2rem;
    color: white;
}

.hero-additional {
    font-size: 2rem;
    margin-bottom: 0;
}

li:hover {
    color: black;
}

.logo:before {
    content: url(../images/hexagon.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
}

.logo:hover:before {
    content: url(../images/hexagon-black.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
}

nav {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    background-color: darkred;
    color: white;
    padding: .2rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.logo-column {
    display: flex;
}

.navigation-column {
    display: flex;
    gap: 10px;
    margin-right: .5rem;
}

.product-listing, .checkout-page {
    background-image: url("../images/tinted-orange.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.product-listing, .checkout-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
}

.product-cards-container, .checkout-container {
    display: flex;
    margin: 2rem 2.75rem;
    min-height: 500px;
    margin-bottom: 7%;
    padding: 20px 40px;
   
}

.checkout-and-title, .product-and-title {
    background-color: rgb(227, 227, 227);

}
